body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E1FAF9;
}

.grid-container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    background-color:rgb(247, 235, 217);
}

.row {
    display: flex;
}

.gridItem {
    border: #444242 solid 1px;
    box-sizing: border-box;
}

.curSize {
    margin-top: 15px;
}

button {
    font-family: inherit;
    margin: 5px;
    margin-bottom: 50px;
    background-color: rgb(247, 235, 217);;
    padding: 5px;
    border-radius: 5px;
}

button, .curSize {
    font-size: 16px;
}
