body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.grid-container {
    margin-top: 100px;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
}

.gridItem {
    border: #444242 solid 1px;
    box-sizing: border-box;
}