body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid-container {
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 50px;
}

.row {
    display: flex;
}

.gridItem {
    border: #444242 solid 1px;
    box-sizing: border-box;
}

.curSize {
    margin-top: 15px;
}

.size-button {

    

}